/* Target the scrollable area class you used (e.g., .overflow-y-auto) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #94a3b862;
  border-radius: 200px;
  border: 1px solid transparent; 
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    height: 100%;
    width: 100%;
    overflow: hidden; 
}

.chat-container {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    flex: 1 1 0%;
    
    /* Standard 2025 way to prevent layout shifting when scrollbar appears */
    scrollbar-gutter: 'stable';
    
}

