<div class="fixed inset-0 bg-gray-900/50 flex items-center justify-center p-4 z-50">
  <div class="w-full max-w-[450px] mx-auto text-center bg-white py-[60px] px-[20px] rounded-2xl shadow-lg">

    <!-- Check Icon -->
    <div class="flex items-center justify-center">
      <div class="w-[100px] h-[100px] bg-primary rounded-full flex items-center justify-center">
        <img src="/assets/svg/icon-check.svg" class="w-[40px] h-[40px]" alt="Check" />
      </div>
    </div>

    <!-- Text -->
    <div class="mt-[30px]">
      <div class="font-gilroy-bold text-[20px] mb-[10px] text-black">
        Password Reset Successfully
      </div>
      <div class="font-gilroy-medium text-[14px] text-[#40393A]">
        Your password has been reset.
      </div>
    </div>

    <!-- Back to Login Button -->
    <div class="mt-[30px] w-[180px] mx-auto">
      <app-button
        (clicked)="onConfirm()"
        class="w-full"
        [iconAfter]="'/assets/svg/forward_arrow_icon_white.svg'"
        [isIconImage]="true"
        iconSize="w-[11px] h-[11px]"
      >
        Back to Login
      </app-button>
    </div>
  </div>
</div>
