<div class="flex w-screen h-screen overflow-hidden bg-primary-light">

	<!-- Left Panel — Form -->
	<div class="flex flex-col justify-center items-center border-[12px] lg:border-[20px] p-4 rounded-[40px] lg:rounded-[64px] border-primary-light bg-slate-100 dark:bg-slate-700 px-6 sm:px-10 w-full lg:w-1/2 h-full">
		<div class="w-full max-w-md">
			<!-- Logo -->
			<div class="flex justify-center mb-8">
				<div class="flex items-center gap-2">
					<div class="flex justify-center items-center rounded-full h-12">
						<img
              src="/assets/img/billing_benefit_logo.png"
              alt="Billing Benefit"
              class="rounded-full w-full h-full object-cover dark:invert"
            >
					</div>
				</div>
			</div>

			<!-- Heading -->
      <!-- <app-theme-toggle></app-theme-toggle> -->
			<h1 class="mb-1 font-bold text-slate-900 dark:text-white text-2xl">Sign In</h1>
			<p class="mb-4 text-slate-500 dark:text-slate-100 text-sm">
				Access the attendance panel using your username and password.
			</p>

      <!-- Login Form -->
			<form
        action="login-user"
        class="flex flex-col gap-4"
      >
				<!-- Username -->
				<app-text-field
          [fieldControl]="emailControl"
          [placeholder]="'Enter Your Email Here'"
          [fieldName]="'Email'"
          fieldType="email"
        ></app-text-field>

				<!-- Password -->
				<app-text-field
          [fieldControl]="passwordControl"
          [placeholder]="'Enter Your Password Here'"
          [fieldName]="'Password'"
          fieldType="password"
          (keyup.enter)="onSubmit()"
        ></app-text-field>

				<!-- Forgot Password -->
				<p
          (click)="onForgotPassword()"
          class="-mt-2 text-blue-600 dark:text-sky-300 hover:underline text-sm text-right cursor-pointer"
        >
					Forgot password?
				</p>

				<!-- Sign In Button -->
				<app-button
          type="custom"
          width="100%"
          fontSize="14px"
          fontFamily="montserrat"
          [bgColor]="'var(--color-primary)'"
          [hoverBgColor]="'var(--color-white)'"
          [borderWidth]="'2px'"
          [borderColor]="'#f97316'"
          [hoverBorderColor]="'#000'"
          [textColor]="'#fff'"
          [hoverTextColor]="'#000'"
          radius="10px"
          padding="12px 16px"
          (clicked)="onSubmit()"
        >
					Sign In
				</app-button>
			</form>

			<!-- Footer -->
			<p class="mt-10 text-slate-400 dark:text-white text-xs text-center">
				Copyright © 2026 <span class="font-medium text-slate-500 dark:text-slate-100">Billing Benefit</span>. All rights reserved
			</p>
		</div>
	</div>

	<!-- Right Panel — Decorative -->
	<div class="hidden lg:flex relative justify-center items-center bg-primary-light w-1/2 h-full overflow-hidden">
		<img
      src="/assets/img/login-page/right-half.png"
      alt="Billing Benefit"
      class="rounded-full w-[92%] h-[92%] object-cover"
    >
	</div>
</div>
